#canada150 {
	.article-mondrian-c {
		cursor: initial;
	}

	sup {
		font-size: 0.5em;
	}

	@media screen and (max-width: 39.9375em) {
		.home-mondrian-summary {
			padding: 0 30px;

			h3 {
				margin-top: 20px;
			}
		}
	}

	@import './divider';
	@import './projects';
	@import './moments';
	@import './rangepicker';
	@import './legal';
}