.canada150-legal {
	margin-top: 100px;

	p {
		font-size: 0.8em;
		margin-bottom: 10px;
		line-height: 1rem;
	}
}

@media screen and (max-width: 39.9375em) {
	.canada150-legal {
		p {
			padding: 0 30px;
		}
	}
}