@mixin image-template($width) {
	$desktopPageWidth: 1100;

	.canada150-moment-image {
		width: percentage($width / $desktopPageWidth);
	}

	.canada150-moment-content {
		width: percentage(1 - ($width / $desktopPageWidth));
	}
}

.canada150-moments {
	margin-top: 100px;

	.canada150-moment:not(:last-child) {
		margin-bottom: 100px;
	}

	.canada150-moment {
		display: inline-block;

		.canada150-moment-content {
			padding: 0 30px;
		}

		.canada150-moment-title {
			font-size: 28px;
		    line-height: 1.25em;
		    margin: 0 0 20px 0;
		}

		.canada150-moment-body {
			margin-top: 30px;
		    font-size: 1rem;
		    color: $black;
		    line-height: 1.5em;
		}

		.canada150-moment-image {
			position: relative;

			img {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				max-width: 100%;
			}

			.canada150-moment-number {
				position: absolute;
				font-size: 7rem;
				line-height: 7rem;
				font-family: $font-family-trim-regular;
				font-weight: bold;
				color: $goldlink;
				z-index: 2;
			}
		}

		.small-grey {
			border-bottom: 2px solid $black;
			content: "";
			display: block;
			width: 2rem;
		}

		&.image-left {
			.canada150-moment-image {
				float: left;
			}

			.canada150-moment-content {
				float: right;
			}
		}

		&.image-right {
			.canada150-moment-image {
				float: right;
			}

			.canada150-moment-content {
				float: left;
			}
		}
	}

	.canada150-moment-template-1 {
		@include image-template(630);

		.canada150-moment-image {
			width: 630px;
			height: 300px;
		}

		.canada150-moment-number {
			right: 13%;
			top: -21%;
		}

		&.image-right .canada150-moment-number {
			left: 13%;
		}
	}

	.canada150-moment-template-2 {
		@include image-template(550);

		.canada150-moment-image {
			width: 550px;
			height: 400px;
		}

		.canada150-moment-number {
			left: 20%;
			top: -11%;
		}

		&.image-left .canada150-moment-number {
			right: 20%;
		}
	}

	.canada150-moment-template-3 {
		@include image-template(450);

		.canada150-moment-image {
			width: 450px;
			height: 420px;
		}

		.canada150-moment-number {
			left: 10%;
			top: -18%;
		}

		&.image-right .canada150-moment-number {
			right: 10%;
		}
	}

	.canada150-moment-template-4 {
		@include image-template(600);

		.canada150-moment-image {
			width: 600px;
			height: 300px;
		}

		.canada150-moment-number {
			left: 45%;
			top: -20%;
		}

		&.image-left .canada150-moment-number {
			right: 45%;
		}
	}

	.canada150-moment-template-5 {
		@include image-template(550);

		.canada150-moment-image {
			width: 550px;
			height: 350px;
		}

		.canada150-moment-number {
			right: 25%;
			top: -20%;
		}

		&.image-right .canada150-moment-number {
			left: 25%;
		}
	}

	.canada150-moment-template-6 {
		@include image-template(500);

		.canada150-moment-image {
			width: 500px;
			height: 420px;
		}

		.canada150-moment-number {
			left: 15%;
			top: -12%;
		}

		&.image-left .canada150-moment-number {
			right: 15%;
		}
	}
}