.canada150-panel {
	margin-bottom: 100px;

	.slick-dots li button:before {
		font-size: 0.625rem;
	}

	.canada150-panel-panel {
		width: 50%;
		float: left;
		display: inline-block;

		.canada150-panel-image {
			width: 30%;
			float: left;
		}

		.canada150-panel-content {
			width: 70%;
			float: right;
			padding: 19px 22px 0 22px;
		}

		.canada150-panel-title {
			font-family: $font-family-trim-regular;
			text-transform: uppercase;
			font-size: 1.1em;
			margin: 0;
		}

		.canada150-panel-subtitle {
			font-family: $font-family-trim-light;
			text-transform: uppercase;
			font-size: 1.08em;
			margin: 0;
		}

		.canada150-panel-body {
			margin-top: 9px;
			margin-bottom: 0;
			line-height: 1.4em;
		}

		.canada150-panel-see-more {
			font-family: $font-family-trim-light;
			color: $goldlink;
			border-bottom: 1px solid $goldlink;
			cursor: pointer;
			line-height: 2em;
		}
	}

	.canada150-carousel-wrapper {
		// height: 340px;
	}

	.canada150-carousel-content {
		display: inline-block;

		.canada150-panel-carousel-content-item {
			padding: 0px 22px 0 22px;
		}

		.canada150-panel-carousel-content-item:not(.canada150-panel-carousel-content-item-0) {
			opacity: 0;
			display: none;
		}

		.canada150-panel-carousel-content-item-0 {
			z-index: 2;
		}

		.canada150-panel-title {
			font-family: $font-family-trim-regular;
			text-transform: uppercase;
			font-size: 1.4em;
			margin: 0;
		}

		.canada150-panel-subtitle {
			font-family: $font-family-trim-light;
			text-transform: uppercase;
			font-size: 1.38em;
			margin: 0;
		}

		.canada150-panel-body {
			margin-top: 9px;
			margin-bottom: 0;
			line-height: 1.4em;
		}

		.canada150-panel-see-more {
			font-family: $font-family-trim-light;
			color: $goldlink;
			border-bottom: 1px solid $goldlink;
			cursor: pointer;
			line-height: 2em;
		}
	}

	.spotlight-subheader {
		position: relative;
		margin-bottom: 30px;
		margin-left: 0;

		.spotlight-line {
			height: 1px;
			position: absolute;
			bottom: 0;
			width: 2000px;
			left: -1941px;
			background-color: #4b4b4b;
			opacity: 0.3;
		}
	}

	.canada150-panel-panel:not(:nth-child(1)):not(:nth-child(2)) {
		margin-top: 50px;
	}
}

@media screen and (max-width: 39.9375em) {
	.canada150-panel {
		margin-bottom: 60px;

		.canada150-panel-panel {
			width: 100%;
			float: initial;

			.canada150-panel-content {
				padding-top: 0;
			}
		}

		.canada150-panel-panel:not(:nth-child(1)) {
			margin-top: 50px;
		}

		.spotlight-subheader {
			position: relative;
			margin-bottom: 30px;

			.spotlight-line {
				left: -1930px;
			}
		}
	}
}