.canada150-projects {
	margin-top: 40px;
	$padding: 0.825;

	.third {
		width: 33.3333333333333333333333%;
		float: left;
		padding: 0 #{$padding / 3 + 'rem'};
	}

	.third-wrapper .third:nth-child(1) {
		padding-left: 0;
		padding-right: #{$padding / 3 * 2 + 'rem'};
	}

	.third-wrapper .third:nth-child(3) {
		padding-right: 0;
		padding-left: #{$padding / 3 * 2 + 'rem'};
	}

	.third-wrapper:not(.first-wrapper) {
		margin-top: 55px;
	}

	.third.expanded {
		.canada150-project-cta {
			background-color: $goldlink;
			.plus, .link, .minus {
				color: $white;
			}

			.plus {
				opacity: 0;
			}

			.minus {
				opacity: 1;
			}
		}
	}

	.third-content, .third-wrapper {
		width: 100%;
		float: left;
	}

	.third-content {
		margin-top: -1px;
	}

	.third-content.expanded {
		border-top: 1px solid $goldlink;
		border-bottom: 1px solid $goldlink;
	}

	.third-content > div {
		max-height: 0;
		height: 200px;
		transition: max-height 0.5s;
		overflow: hidden;
		opacity: 0;
	}

	.third-content > div.expanded {
		max-height: 2000px;
		opacity: 1;
	}

	.canada150-project {
		.canada150-project-text-container {
			padding: 15px 0 0 0;
		}

		> img {
			opacity: 1;
			transition: opacity 0.5s;
		}

		.indicator {
			display: inline-block;
			position: relative;
			width: 10px;
			float: left;
			margin: 0 3px 0 5px;
		}

		.indicator .minus {
			opacity: 0;
			left: 4px;
		}

		.indicator > span {
			position: absolute;
			left: 2px;
			top: 0;
			color: $goldlink;
		}

		.link {
			padding-left: 20px;
		}

		.canada150-project-text {
			margin: 0;
			line-height: 1.125rem;
		}

		.canada150-project-cta {
			display: inline-block;
			color: $goldlink;
			text-transform: uppercase;
			font-family: $font-family-sans-serif;
       		font-size:rem-calc(16);
       		padding-top: 3px;
       		margin-top: 10px;
       		width: 100%;
		}

		.canada150-project-cta:hover {
			background-color: $goldlink;
			.plus, .link {
				color: $white;
			}
		}
	}

	.canada150-announcing {
		margin: 80px 0;

		.canada150-announcing-title {
			font-family: $font-family-trim-light;
			text-transform: uppercase;
			padding-bottom: 10px;
		}

		.canada150-announcing-body {
			margin-bottom: 0;
			line-height: 1.125rem;
		}
	}
}

.canada150-projects.expanded {
	.third:not(.expanded) .canada150-project img {
		opacity: 0.6;
	}
}