
.post-password-form {
p.password-error {
		color: #C00;
		
	}
	display:flex;
	align-items:center;
	justify-content:center; 
	flex-direction: column;
	height:calc(100vh - 440px);
	min-height:300px;
	font-family:$font-family-serif;
	p {
		
		max-width:600px;
	}
	
	&:first-child{
		align-self:flex-start;
	};
}