@import "./partials/explore/index";
.summary {
    margin: 0;
    padding: 0;
    p {
        font-size: 15px;
        line-height: 1.5;
        color: #686868;
    }
}

.image-container-8x5 {
    a>img {
        @include darken-hover();
        &hover {
            z-index: 1;
        }
    }
    .play-button {
        pointer-events: none;
    }
    overflow: hidden;
    position: relative
}


/*
.inside_image_container {
    position: relative;  top: 0; bottom: 0; left: 0; right: 0;
}*/

.page-id-11 {
    p>a {
        @include hoverstate();
    }
    #explore-ajax {
        &>.row:first-of-type {
            @media #{$medium-up} {
                margin-top: 168px;
            }
        }
        ;
    }
    [class*="caption"] {
        padding-top: rem-calc(18);
        padding-bottom: rem-calc(10);
        p.title {
            line-height: 1.2rem;
            margin-bottom: 0;
        }
        p.category {
            font-family: $font-family-sans-serif;
            letter-spacing: .15em;
            color: #686868;
            line-height: 1rem;
            text-transform: uppercase;
            font-size: rem-calc(12);
            margin-bottom: 4px;
        }
        .produced-with {
            font-size: rem-calc(14);
            margin-top: 2px;
            color: #686868;
            margin-bottom: 5px;
            a {
                color: #686868;
            }
        }
        p:last-child {
            padding-bottom: 0;
        }
    }
    .explore-grid {
        margin-bottom: 40px;
    }
    @media #{$medium-up} {
        .big-caption {
            p {
                margin-bottom: 0;
                padding-bottom: 10px;
                line-height: 100%;
            }
            p.title {
                font-size: rem-calc(32);
                margin-bottom: 0;
                line-height: 2rem;
            }
            p.category {
                font-size: rem-calc(14);
                padding-bottom: 6px;
            }
            p:last-of-type {
                /*padding-bottom: rem-calc(18);*/
                margin-bottom: 0;
            }
            p.produced-with {
                font-size: rem-calc(14);
                margin-bottom: rem-calc(5);
                color: #686868;
                a {
                    color: #686868;
                }
            }
            margin-bottom:0;
        }
    }
    .title-section-border {
        margin-bottom: rem-calc(30);
    }
}

@media #{$medium-up} {
    .page-id-11 {
        .caption {
            /* padding-top: rem-calc(10);*/
        }
        .large-6 {
            width: 66.6%;
        }
        .large-3 {
            width: 33.3%;
            
        }
    }
}

.elm-wrapper {
    button:focus {
        outline: 0;
    }
    margin: 1em auto;
    text-align: center;
    .elm-button {
        background-color: transparent;
        color: $darkgoldlink;
        letter-spacing: 0.15rem;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        -webkit-transition: all 0.15s ease;
        transition: all 0.15s ease;
    }
    .elm-button.ajax-inactive {
        display: none;
    }
    .elm-button.is-loading .elm-loading-anim {
        display: block;
    }
    .elm-button.is-loading .elm-button-text {
        display: none;
    }
    .elm-loading-anim {
        display: none;
    }
    .elm-loading-icon {
        width: 1.5em;
        height: 1.5em;
    }
}
