.oscar-component,
.oscars-component {
    margin-bottom: 50px;
    @media #{$small-only}{
    	margin-bottom:32px;
    }
    .copy {
        p {
            font-size: rem-calc(30);
            line-height: 1.5;
            margin-bottom: rem-calc(16);
            @media #{$small-only}{
                font-size: rem-calc(26);
            }
        }
    }
}

.oscars-component.mission-statement {
    font-size: 30px;
}

.oscars-component .ugc-cta {
    text-align: center;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 28px;
    
    background-image:none;
    &:after {
        content:"";
        background-image:url(#{$themefolder}/img/down_arrow_sprite.png);
        background-repeat:no-repeat;
        background-position:0 -12px;
        width: 22px;

        height:12px;
        margin: auto;
        display: block;
        margin-top: 18px;
        overflow:hidden;
        
    }
    ;
    &:hover {
        &:after {
            background-position:0 0px;
        }
        ;
    }
    ;
}

.oscars-component.oscars-ugc-statement {
    text-align: center;
    line-height:2.5rem;
    @media #{$small-only}{
    	margin-top:0;
    }
    p {

        font-size: rem-calc(32);
        line-height: rem-calc(48);
        margin-bottom:0;
        @media #{$small-only}{
    	   font-size: rem-calc(26);
           line-height: rem-calc(39);
   		}
    }

    &:after {
        content: "";
        display: block;
        background-color: #4b4b4b;
        width: rem-calc(26);
        height: 3px;
        margin: 0 auto;
        margin-bottom: rem-calc(80);
        margin-top: rem-calc(24);
    }
}
